
#MainMenu{
    visibility: hidden;
}

.stDeployButton{
    visibility:hidden;
}

.main{
    background-color:rgb(10, 10, 10);
}

.ezrtsby2{
    visibility: hidden;
}
.e1i5pmia1{
    font-size:150%;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 153, 0);
}


.st-ae{
    color: rgb(255, 153, 0);
    background-color: rgb(10, 10, 10);
}

.stButton :hover{
    color: rgb(255, 153, 0);
    border-color: black;
}



